<% wrap_layout :layout do %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\
    <meta name="viewport" content="width=device-width">
    <title><%= data.page.title || "Email Template" %></title>

    <style data-premailer="ignore">
        <% css_path = sitemap.resources.select { |p| p.source_file.match(/reset[.]css/) }.first %>
        <%= css_path.render %>
    </style>
    <style>
        <% css_path = sitemap.resources.select { |p| p.source_file.match(/all[.]css[.]scss$/) }.first %>
        <%= css_path.render %>
    </style>
</head>

<body>
    <table id="backgroundTable">
        <tr>
            <td class="body" align="center" valign="top">
                <table>
                    <tr>
                        <td class="main" align="center">
                            <%= yield %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Exact Target tracking code -->
    <custom name="opencounter" type="tracking">
</body>
</html>
<% end %>